#shippingcontactlink {color: #fd4114; text-decoration: none; }
#shippingcontactlink:hover {color: #fd4114; text-decoration: underline;}
#softwaredir h1 {text-align: center; font-size: 4em; line-height: 1em; font-family: Oswald; margin: 0px !important; background: none !important; padding: 0 !important;}
#softwaredir h3 {text-align: left; font-size: 2.5em; margin: 20px auto 10px !important;text-transform: none;} 
#softwaredir p {font-size: 16px;line-height: 1.5em;}
#softwaredir li {font-size: 16px; line-height: 1.5em;}
#solform {background: #f2f3f4;border-top:15px solid #f2f3f4;border-left: 15px solid #f2f3f4;}   
.dirco {position: relative !important;}
#software-directory h1{
  text-align: center;
  font-size: 5em;
  font-family: Oswald;
  margin: 0px auto 25px !important;
  background: none !important;
  padding: 0 !important;
  line-height: 1em;
  }
#software-directory .hero-cats {
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px #fff inset;
    height: 200px !important;
    line-height: inherit !important;
    position: relative;
    width: 400px;
}
  #software-directory h3 {
  float: none !important;
  text-align: center !important;
  margin: 10px auto !important;
  font-size: 2.2em !important;
  width: 100%;
  text-transform: none;
  }
#software-directory .button {
    background: #fd4114 none repeat scroll 0 0;
    border: 1px solid #fff;
    bottom: 10px;
    box-shadow: 0 0 5px 0 #ccc;
    color: #ffffff;
    display: block;
    font-size: 1.4em;
    left: 0;
    margin: auto;
    padding: 12px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 0 #7c7c7c;
    width: 126px;
}
  #software-directory .button:hover {
  color: #ffffff;
  background: #7c7c7c;
  box-shadow: 0px 0px 1px 1px #333 inset;
  border: 1px solid #f6f6f6;
  }
#software-directory p {
    bottom: 0;
    display: block;
    font-size: 1.3em;
    height: 50px;
    line-height: 1.5em;
    margin: auto !important;
    position: absolute;
    text-align: center;
    top: 0;
    text-shadow: 0 1px 0 #fff;
    padding: 0 5px;
}

#quickcartview, #compareview {
     background: none repeat scroll 0% 0% #787674;
     display: block;
     float: right;
     height: 26px;
     margin: 5px 0px 5px 10px;
     padding: 8px 0px 0px;
     text-align: center;
     width: 34px;
}

#AboutAtlas hr {
    border-top: 1px dotted #bbbbbb;
    margin: 5px 0 !important;
}

.ProductPriceWrap .RetailPrice {
    font-weight: bold;
    color: #fd4114;
    font-size: 16px;
}

.productOptionViewProductPickListWithImage .selectedValue td {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

#CartEditProductFieldsForm .productAttributeList {
    margin: 0 0 0 15px !important;
    max-height: 380px;
    overflow: visible !important;
}

.BulkDiscountLink {font-size: 20px !important; text-decoration: underline; color: #fd4114;}
#habla_window_div input[type="submit"], #habla_window_div button {color: #333333 !important;}
.viewcart {display: none;}
.sticky .viewcart {
    background: #7c7c7c;
    border: 5px solid #7c7c7c;
    border-radius: 0 0 10px 10px;
    display: block;
    position: absolute;
    text-align: center;
    right: 0;
  }
.sticky .viewcart img {
    margin: 0 !important;
    padding: 5px 0 0 !important;
  }
.sticky .viewcart a {
    margin: 0 !important;
    padding: 0 !important;
  }
#HeaderLower.sticky .viewcart a:hover {
    margin: 0 !important;
    padding: 0 !important;
    background: #999 !important;
    border-top: none !important;
  }
.viewcart #quickcartview {
    border-radius: 0 0 10px 0;
  }
.viewcart #compareview {
    border-radius: 0 0 0 10px;
  }

#quickcartview:hover, #compareview:hover {background: #fd4114;}

p > a:hover {text-decoration: underline;}

#Header .Inner > a:hover {
     background: none repeat scroll 0% 0% #fd4114;
}

#Header {
     background: none repeat scroll 0% 0% #ffffff;
     position: relative;
     top: 0px;
     width: 100%;
}

#Outer {
     margin-top: 20px;
}

#HeaderLower {
     margin-bottom: 20px;
}

#HeaderLower {
     background: #ffffff !important;
     border-bottom: 5px solid #7C7C7C;
     box-shadow: 0 10px 10px -5px #AAAAAA;
     color: #fd4114;
}

#HeaderLower a {
     color: #7C7C7C; 
}    


#HeaderLower li a {
     border-left: none !important;
     padding: 15px 22px 11px !important;
}

#HeaderLower li.ActivePage a, #HeaderLower li.over a, #HeaderLower li a:hover, #HeaderLower a:hover {
     border-top: 5px solid #FD4114;
     color: #FD4114 !important;
     padding: 10px 22px !important;
     background: none #ffffff !important;
}

#HeaderLower li ul li a:hover {
    background: none repeat scroll 0 0 #ffffff !important;
    color: #7c7c7c !important;
    border-top: none !important;
}

#HeaderLower li ul li a{
    border-top: none !important;
}

#HeaderLower li ul {
    background: none #ffffff !important;
}

#HeaderLower ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-flex-flow: row wrap;
    -ms-display: -ms-flexbox;
    -ms-justify-content: space-between;
    -ms-flex-flow: row wrap;
} 

#HeaderLower.sticky #Menu .First {display: block;}
#HeaderLower.sticky #Menu .First a {padding: 0 !important; border-top: none !important;}
#HeaderLower.sticky #Menu .First a:hover {border-top: medium none !important;}

#SearchForm {
  width: 300px;
  border: 2px solid #e2e2e2;
  margin: 5px 0; 
}

  .home-support {
    list-style: none;
    clear: both;
    margin: 5px 0 0;
    padding; 0;
    text-align: right;
    width: 100%;
  }
  .home-support li {
    display: inline;
    padding: 0 0 0 20px;
  }
  .home-support li:after {
    content: "|";
    position: relative;
    left: 10px;
    color: #7c7c7c;
    font-weight: bold;
  }
  .home-support .last-support:after {
    content: none !important;
  }
  .home-support .first-support {
    padding: 0;
  }
  .home-support a {
    color: #7c7c7c;
    font-weight: bold;
  }
  .home-support a:hover {
    color: #fd4114;
  }

.required {font-size: 20px !important;}

.home-service {
    clear: both;
    color: #fd4114;
    display: block;
    font-family: Oswald,Arial;
    font-size: 20px;
    height: 20px;
    margin: 10px 0 0;
    text-align: right;
    width: auto;
    letter-spacing: .5px;
}

#home-function {
    display: block;
    float: right;
    width: 400px;
}

.Content .Block h2 {color: #000 !important;}


#SideAccountMenu li a:hover {
    color: #fd4114;
    text-decoration: none;
}

#HeaderLower li a .sub-indicator {
    background: url("/templates/__custom/images/menu-arrow.png") no-repeat scroll 0 -54px rgba(0, 0, 0, 0);
    display: block;
    height: 8px !important;
    margin-top: -2px !important;
    opacity: 0.3 !important;
    position: absolute;
    right: 7px !important;
    top: 50% !important;
    width: 11px !important;
    z-index: 1;
}

/* Home Page */
.hero-row {
    margin: -30px auto 0;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    -webkit-justify-content: space-around;
    -webkit-flex-flow: row wrap;
    -ms-display: -ms-flexbox;
    -ms-justify-content: space-around;
    -ms-flex-flow: row wrap;
}

.home-hero a {
    color: #333333;
    display: block;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px #fff inset;
}

.home-hero a:hover {
    color: #fd4114;
    background: #e9e9e9;
    box-shadow: box-shadow: 0 0 30px 1px #fff inset;
}

.hero-cats {
    display: inline-block;
    width: 300px;
    height: 130px;
    background: #F6F6F6;
    position: inherit;
    margin: 30px 12px 10px 0;
    line-height: 130px !important;
}

.hero-cats .last-cats {
    margin: 0 0 0 0 !important;
}

.hero-cats img {
    display: block;
    float: left;
    margin: 0;
    position: relative;
    width: 130px;
}

.hero-cats h3 {
    display: block;
    float: left;
    margin: 0 auto !important;
    width: 165px;
}

.hero-view {
    float: left;
    position: relative;
    bottom: 20px;
    right: 5px;
    font-style: italic;
}

.hero-cats ul {
    display: inline-block;
    width: auto;
    margin: 0 auto !important;
    padding: 0 !important;
    position: relative;
    bottom: 65px;
    float: left;
}

.hero-cats li {
    display: inline-block;
    float: left;
    margin: 10px 8px 0;
    position: inherit;
    width: 130px;
}

.hero-cats.last-hero {
    
}

  .sand {
    border: 1px solid #ddd !important;
    box-shadow:0 0 1px 1px #ffffff inset;
  }
  #sand-cats a {  
    height: 33px !important;  
    line-height: 33px !important;  
    width: 100%;  
    position: relative;
    border: none !important;
    box-shadow: none !important;
  }
  #sand-cats a:hover {
    opacity: .9;
    color: #fd4114 !important;
  }
  .sand-child {
    text-transform: capitalize;
    color: #7c7c7c !important;
  }

.home-page-cta img {
    left: 0 !important;
}

.home-page-cta {
    background: none !important;
}

.app-hero .hero-cats {
padding: 10px;
}

.manu {
    display: -webkit-box;
    display: flex;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    -ms-display: -ms-flexbox;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 0 auto;
    width: auto;
}

.manu h1, .manu h2, .res h1, .res h2 {
    background: url("/templates/__custom/images/square.png") repeat scroll 0 0 #FBFBFB;
    color: #000000;
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 42px;
    margin: 0;
    padding: 0 0 0 12px;
    position: relative;
    width: 100%;
}

.HomePage .Left {
    margin: 0 30px 0 0;
}

.HomePage .ProductList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
}

.HomePage .ProductList li {
    margin: 0 5px 5px !important;
    height: auto; 
}

#HomeFeaturedProducts {
    margin: 10px 0;
}

#home-newsletter .hbspt-form {width: auto; height: 70px; margin: 10px 0 0;}
#home-newsletter .hs-form fieldset {float: left;}
#home-newsletter .hs-form-field {float:left; clear: none;}
#home-newsletter .hs_submit {float: left; clear: none; position: relative; bottom: 16px;}
#home-newsletter {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 2px solid #ddd;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    float: left;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 10px 0;
    width: 100%;
}
#home-newsletter p {width: 400px; float: left; padding: 10px 10px 0; font-size: 16px; text-shadow: 0 1px 0 #ddd;}  

.home-intro {
padding: 10px;
margin: 0;
}

#home-atlas #prodAccordion h2 {
background: none;
}

.home-trust {
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style: none outside none;
    margin: 0 auto;
    width: 100%;
}

.home-trust li {
    display: inline-block;
    float: left;
    height: 260px;
    margin: 5px auto;
    width: 450px;
}

.home-trust h3 {
    margin: 10px 0 5px;
    text-transform: none;
}

.home-trust img {opacity: .5;filter: alpha(opacity=50);}

.testimonial-box {
    background: url("/product_images/uploaded_images/testimonial.png") no-repeat 0 30px;
}

.home-quote {
    font-size: 20px;
    line-height: 25px;
    padding: 25px;
    text-align: center;
  }

.home-sig {
    text-align: right;
  }

.news-title {
    color: #fd4114;
    display: block;
    font-family: Oswald,Arial;
    font-size: 18px;
    font-weight: bold;
    height: 10px;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
}

  .treeview li.expandable li a, .treeview li.collapsable li a {padding-left: 20px !important;}
  #trustfooter {background: #F1F0F0; border: 20px solid #f1f0f0;} 
  #trustfooter ul {width: 100%; margin: auto; display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  #trustfooter li {margin: auto; list-style: none;}

ul.mfg-logos li a {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0px -483px transparent;
}

ul.mfg-logos li a:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0px -414px transparent;
     opacity: 1;
     filter: alpha(opacity=100);
}

ul.mfg-logos li a.mfg-alien {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0px -69px transparent;
}

ul.mfg-logos li a.mfg-alien:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0px 0px transparent;
}

ul.mfg-logos li a.mfg-avery-dennison {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -483px transparent;
}

ul.mfg-logos li a.mfg-avery-dennison:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -414px transparent;
}

ul.mfg-logos li a.mfg-confidex {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -168px -69px transparent;
}

ul.mfg-logos li a.mfg-confidex:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -168px 0px transparent;
}

ul.mfg-logos li a.mfg-emerson-cuming {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -69px transparent;
}

ul.mfg-logos li a.mfg-emerson-cuming:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px 0px transparent;
}

ul.mfg-logos li a.mfg-impinj {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -504px -69px transparent;
}

ul.mfg-logos li a.mfg-impinj:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -504px 0px transparent;
}

ul.mfg-logos li a.mfg-intermec {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -672px -75px transparent;
}

ul.mfg-logos li a.mfg-intermec:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -672px -5px transparent;
}

ul.mfg-logos li a.mfg-sls {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 17px -207px transparent;
}

ul.mfg-logos li a.mfg-sls:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 17px -139px transparent;
}

ul.mfg-logos li a.mfg-laird {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -168px -207px transparent;
}

ul.mfg-logos li a.mfg-laird:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -168px -138px transparent;
}

ul.mfg-logos li a.mfg-motorola {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -207px transparent;
}

ul.mfg-logos li a.mfg-motorola:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -138px transparent;
}

ul.mfg-logos li a.mfg-mti {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -504px -207px transparent;
}

ul.mfg-logos li a.mfg-mti:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -504px -138px transparent;
}

ul.mfg-logos li a.mfg-printronix {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -672px -207px transparent;
}

ul.mfg-logos li a.mfg-printronix:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -672px -138px transparent;
}

ul.mfg-logos li a.mfg-metalcraft {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0px -345px transparent;
}

ul.mfg-logos li a.mfg-metalcraft:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0px -276px transparent;
}

ul.mfg-logos li a.mfg-sirit {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -168px -484px transparent;
}

ul.mfg-logos li a.mfg-sirit:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -168px -414px transparent;
}

ul.mfg-logos li a.mfg-thingmagic {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -345px transparent;
}

ul.mfg-logos li a.mfg-thingmagic:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -276px transparent;
}

ul.mfg-logos li a.mfg-upm {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -504px -483px transparent;
}

ul.mfg-logos li a.mfg-upm:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -504px -414px transparent;
}

ul.mfg-logos li a.mfg-venture-research {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -504px -345px transparent;
}

ul.mfg-logos li a.mfg-venture-research:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -504px -276px transparent;
}

ul.mfg-logos li a.mfg-zebra {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -672px -345px transparent;
}

ul.mfg-logos li a.mfg-zebra:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -672px -276px transparent;
}

ul.mfg-logos li a.mfg-xerafy {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -672px -483px transparent;
}

ul.mfg-logos li a.mfg-xerafy:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -672px -414px transparent;
}

ul.mfg-logos li a.mfg-omniid {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0px -621px transparent;
}

ul.mfg-logos li a.mfg-omniid:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0px -551px transparent;
}

ul.mfg-logos li a.mfg-times7 {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -168px -621px transparent;
}

ul.mfg-logos li a.mfg-times7:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -168px -552px transparent;
}

ul.mfg-logos li a.mfg-fujitsu {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -483px transparent;
}

ul.mfg-logos li a.mfg-fujitsu:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -414px transparent;
}

ul.mfg-logos li a.mfg-kathrein {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -621px transparent;
}

ul.mfg-logos li a.mfg-kathrein:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -548px transparent;
}

ul.mfg-logos li a.mfg-grok {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -504px -345px transparent;
}

ul.mfg-logos li a.mfg-grok:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -504px -276px transparent;
}

ul.mfg-logos li a.mfg-transcore {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -207px transparent;
}

ul.mfg-logos li a.mfg-transcore:hover {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -336px -138px transparent;
}

ul.mfg-logos li a.mfg-seeonic {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -672px -627px;
}

ul.mfg-logos li a.mfg-seeonic:hover {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -672px -558px;
}

ul.mfg-logos li a.mfg-tageos {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0 -488px;
}

ul.mfg-logos li a.mfg-tageos:hover {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0 -419px;
}

ul.mfg-logos li a.mfg-harting {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0 -785px;
}

ul.mfg-logos li a.mfg-harting:hover {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0 -696px;
}

ul.mfg-logos li a.mfg-avery {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -170px -787px;
}

ul.mfg-logos li a.mfg-avery:hover {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -170px -696px;
}

ul.mfg-logos li a.mfg-keonn{
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -334px -787px;
}

ul.mfg-logos li a.mfg-keonn:hover {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -334px -698px;
}

ul.mfg-logos li a.mfg-sato {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -502px -787px;
}

ul.mfg-logos li a.mfg-sato:hover {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -502px -698px;
}

ul.mfg-logos li a.mfg-identix {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -515px -937px;
}

ul.mfg-logos li a.mfg-identix:hover {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -514px -861px;
}

ul.mfg-logos li a.mfg-vulcan {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -679px -777px;
}

ul.mfg-logos li a.mfg-vulcan:hover {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -679px -695px;
}

ul.mfg-logos li a.mfg-geoforce {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -679px -935px;
}

ul.mfg-logos li a.mfg-geoforce:hover {
    background: transparent url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll -679px -859px;
}




.mfg-logos li a:hover {
     background-clip: padding-box;
}

.mfg-logos {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    float: left;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 15px !important;
}

   .mfg-logos li {
     list-style: none !important;
   }
  .mfg-logos li a {
     background: url("/product_images/uploaded_images/mfg-logos.png") no-repeat scroll 0px -414px transparent;
     display: block;
     height: 69px;
     overflow: hidden;
     text-indent: 100%;
     white-space: nowrap;
     width: 148px;
     margin: 0 auto 10px;
}

#spotlight { 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 10px 0;
}
.featured-news, .featured-spotlight {
  display: block;
  width: 400px;
  margin: 10px 0;
  border: 3px solid #f6f6f6;
} 

.spot-resources, .spot-news {
  padding: 5px;
}

/* Category Pages */
.subcategories {
    margin: 0 !important;
}
.SubCategoryList {
    padding: 5px !important;
    margin: 0 !important;
}
.SubCategoryList ul {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-display: -webkit-inline-box;
    -webkit-display: -webkit-inline-flex;
    -webkit-flex-flow: row wrap;
    -webkit-flex-grow: 1;
    -webkit-justify-content: flex-start;
    -ms-display: -ms-inline-flexbox;
    -ms-flex-flow: row wrap;
    -ms-flex-grow: 1;
    -ms-justify-content: flex-start;
    list-style: none outside none;
    margin: 0 !important;
    text-align: center;
}
.SubCategoryList li a {
    background: none repeat scroll 0 0 #F6F6F6;
    display: inline-block;
    font-weight: bold;
    margin: 4px;
    padding: 5px 15px;
    text-align: center;
    vertical-align: baseline;
    width: 200px;
    border-left: 2px solid #fd4114;
}
.SubCategoryList li a:hover {
    background: #7c7c7c;
    color: #ffffff;
}
.SubCategoryList li {
    background: none;
    margin-bottom: 0;
    padding-left: 0;
}

/* Resources */
.res-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.res {
    display: inline-block;
    margin: 20px auto 0;
    width: 75%;
}

.resources {
    margin: 20px 20px 0 0;
}

.hero-row-res {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 10px 0 0;
    width: 100%;
}

#spotlight .hero-row-res {
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
}

.res-video .hero-res{
    width: 259px;
}

.hero-res {
    display: inline-block;
    float: left;
    position: inherit;
    width: 200px;
    margin: 15px 10px 15px;
    text-align: center;
    font-weight: bold; 
}

.hero-res:hover {
    color: #000;
}

.hero-res img {
    display: block;
    float: left;
    position: relative;
    padding: 0 0 5px 0;
}

.quotes {
    background: none repeat scroll 0 0 #fff;
    border-left: 5px solid #7c7c7c;
    box-shadow: 10px 10px 10px #ddd;
    margin: 0 0 50px;
    text-shadow: 0 1px 0 #fff;
}

.quotes p {
    font-size: 18px;
    padding: 0 10px 10px;
    text-align: right;
}

.quotes p:first-child {
    font-style: italic;
    font-weight: bold;
    line-height: 25px;
    padding-top: 10px;
    text-align: left;
}

/* Footer */
#socnet {
    float: none;
    height: 40px;
    margin: 0 auto;
    width: 200px;
}

#FooterUpper .Column li {
    float: left;
    font-size: 14px;
    margin: 5px 0 5px 12px;
    width: 130px;
}

#FooterUpper .Column li a:hover {
    color: #333333;
}

#FooterUpper .Column label {
    color: #fff !important;
    display: block !important;
    float: left !important;
    font-size: 1.1em !important;
    font-weight: normal !important;
    line-height: 23px;
    margin: 10px 0 0 !important;
    width: 30% !important;
    white-space: nowrap;
}

#FooterUpper .hs-form .actions {
    border: 0 none;
    display: block;
    font-family: "Oswald",sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    letter-spacing: 1px;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase;
}

#FooterUpper .Column input {
    border-radius: 0 !important;
    float: right;
    height: 16px !important;
    margin: 5px 2px 0 0 !important;
    padding: 7px 6px !important;
    width: 60% !important;
}

#FooterUpper .hs-button:hover {
    box-shadow: 0px 0px 5px #444 inset !important;
}

#FooterUpper .Column ul {
    margin: 10px 0 0;
}

#FooterUpper .hs-form .hs-form-required {
    display: none !important;; 
}

#trust-cart {width: 210px; background: #F0F0F0; border:1px solid #ddd; padding: 12px 10px; font-size: 1.1em;}
.bbb {color: #015977; display: block; margin: -20px 0 -5px 0;}
.bbb img {width: 158px !important;}
.bbb-text {margin: -15px 0 10px 0; display: block;}
.trust-logos {text-align: center !important; display: block;}
.trust-logos img, .trust-logos table {margin: 15px auto; width: 150px;}
.trust-logos p {margin: 0 auto 10px !important; width: 150px; text-align: left;}
.trust-logos hr {margin: 0px !important; border: 1px dashed #ddd;}
.TransitTime {display: none !important;}

.payment-options {
    display: inline-block !important;
    width: 60px !important;
    height: 34px !important;
    margin: 0 !important;
    padding: 5px !important;
    border: none !important;
}

.payment-options img {
    width: 60px !important;
    height: 34px !important;
    margin: 0 !important;
    border: 1px inset #ffffff;
}

.payment-options-list {
    list-style: none !important; 
    clear: both !important;
    display: block !important;
    border: none !important;
    margin: 10px auto !important;
}

.trust-logos .payment-options-list {
    width: 150px !important;
}
  
#trustfooter .payment-options-list {
    width: 300px !important;
}

.payment-options-list h3 {
    text-transform: inherit !important;
color: #000;
text-shadow: 0 1px 0 #fff;
}

/* Product Details */
#SideProductRelated {margin: 0 0 10px 0;}
.ProductOtherDetails { margin-right:20px; }
.product-detail-right, .product-detail-left { float:right; width:50%; margin: 0 0 10px 0;}

.product-detail-right.full {width:100%; margin-left:auto; margin-right:auto;}
#ProductOtherDetails h2 {
    margin: 0 !important;
}

#ProductOtherDetails .ProductDetailsGrid {
    padding: 0;
    margin: 0;
    border: 1px solid #F6F6F6;
}

.product-detail-left .DetailRow {
    clear: both;
    padding: 6px 0 3px 5px !important;
    min-height: 20px;
    margin: 0 !important;
}

.DetailRow .Label {
    font-size: 13px;
    font-weight: bold;
    padding: 0 5px 0 0;
    margin: 0 !important;
}

.product-detail-left .DetailRow:nth-child(even) { /*(even) or (2n 0)*/
     background: #F6F6F6;
}
.product-detail-left .DetailRow:nth-child(odd) { /*(odd) or (2n 1)*/
     background: #ffffff;
}

.ProductMain .DetailRow {
  padding: 0 !important;
  margin: 0 !important;
  border: none;
}

.ProductPriceWrap {
  margin: 10px 0 !important; 
}
  
.ProductPriceWrap, .AddCartAction {
  padding: 5px 0 5px;
  border: none !important;
  margin: 0px;
}

.ProductSKU {
  margin: 0;
  border: none;  
}  

.productAddToCartRight {
  padding: 5px 0 5px;
  border: none;
}

.productAddToCartRight .productAttributeRow  {
  margin: 0;
  border: none;
}  

.productAttributeList .productAttributeRow {
  padding: 10px 0 5px !important;
}
  
.productAttributeValue ul {
  margin: 0 !important;
}

#ProductDetails .WishListButton {
background-image: none !important;
}

.productOptionViewProductPickListWithImage {border: none !important;}
.productOptionViewProductPickListWithImage .scrollContainer {height: auto !important; overflow-y: visible !important; max-height: inherit !important;}

/* Contact Us */

#contact-hub {
    background: #f2f3f4 none repeat scroll 0 0;
    border-left: 30px solid #f2f3f4;
    border-top: 10px solid #f2f3f4;
    margin: 0 auto;
    width: 400px;
}   
.hs-button {
    background: none repeat scroll 0 0 #FD4114 !important;
    box-shadow: 0 2px 10px #555555 !important;
    color: #FFFFFF;
    font-size: 18px !important;
    text-shadow: 0 2px 0 rgba(200, 0, 0, 0.8) !important;
    margin: 0 auto !important;    
    border: 0 !important;
    text-align: center !important;
    padding: 10px !important;
    border-radius: 0 !important;
}
.hs-button:hover {
    background: none repeat scroll 0 0 #7C7C7C !important;
    box-shadow: 0 2px 10px #FFFFFF !important;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #333333 !important;
}
.hs-form .actions {
    text-align: center;
}
.hs-form-field {
margin: 0 0 15px 0 !important;
}
.hs-form.stacked label {
margin: 0 !important;
}
.hs-form .hs-field-desc {
    color: #696969 !important;
}
#photo-contact {
height: 240px !important;
width: 180px !important;
margin: 18px 0 0 0;
}
#photo-contact img {
margin: 0 0 45px 0 !important;
}

#contact-thanks .cta_button {
background: none !important;
box-shadow: none !important;
top: 0 !important;
}
#contact-thanks .cta_button:hover {
background: none !important;
box-shadow: none !important;
top: 0 !important;
}
#socialcontainer {
white-space: nowrap;
}
.socialwidget {
display: inline-block;
margin: 0 15px 0 0;
}
#ctacontainer {
float: left; 
height: 300px;
margin: 0 30px 10px 0;
}
#blog-list {
}
#contact-thanks {
margin: 0 auto;
}
#AboutAtlas h2 {
    height: 42px;
    line-height: 42px;
    padding: 0 0 0 12px;
    margin: 0 0 18px 0; 
}

/* End of Contact Us */

#coupons {
    margin: 0 auto;
    width: 540px;
}

#coupons h2 {
    background: url("http://cdn2.hubspot.net/hub/300870/file-465115418-png/images/Atlas-RFID-Store-header.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
    display: block !important;
    font-size: 30px !important;
    padding: 45px 0 !important;
    text-align: center !important;
    width: 540px;
}
  
#coupons p {
    margin: 10px auto; 
}
  
.coupon-form {
    background: none repeat scroll 0 0 #ddd;
    margin: 0 auto;
    padding: 15px 0 0 35px;
    width: 500px;
}

/* Start of Cart */

.cart-title h1 {
    margin: 0 !important;
}

.other-payment-buttons {
    clear: both; 
    text-align: center;
    margin: 0 0 10px 0;
}

.CheckoutButton {
    margin: 0 0 10px 0;
}

.ProceedToCheckout {
    margin: 0 0 10px;
    text-align: right;
    float: none;
}

.CartCode {
    float: right;
    width: 100%;
}

.CheckoutRedeemCoupon {
    width: auto;
}

.KeepShopping a {
    background: none repeat scroll 0 0 #ddd;
    color: #000;
    font-family: "Oswald",Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 5px 12px;
    text-transform: uppercase;
}

#shopping-buttons {
    clear: both !important;
    display: inline-block;
    margin: 0 auto !important;
    min-height: 30px;
    width: 100%;
}


#shopping-buttons li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    float: right;
    list-style: none outside none !important;
    width: 200px;
}

#shopping-buttons .cart-title {
    float: left;
    width: 500px;
}
/*
#shopping-buttons h1 {
    line-height: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
} */

.PayPalExpressCheckout {
    clear: none !important;
    margin: 0 !important;
    text-align: right !important;
}

.PayPalExpressCheckout > p {
    display: none !important;
}

.CartUpdateBtn {
    display: none;
}

#suggestcart #SuggestiveCartContent {
    float: left;
    margin: 20px auto 10px;
    width: 100%;
}

.CartCode .CouponCode, .CartCode .GiftCertificate {
   max-width: 100%;
}

/* End of Cart */

#HeaderLower li.over ul {
    box-shadow: 10px 10px 10px -5px #aaaaaa;
}

#HeaderLower li.over ul li a {
    color: #7c7c7c !important;
    border-bottom: 1px dotted #aaa !important;
}

#HeaderLower li.over ul li a:hover {
    color: #fd4114 !important;
}

/* Header */
#Logo { margin: 7px 0 0; }
.header-bg {/* background: #a49f99 url(../images/header-bg.jpg) 0 0 repeat-x;*/ }

#LogoImage {height: auto;}

/* Sticky Header */
.sticky {position: fixed; width: 100%; left: 0; top: 0; z-index: 100; border-top: 0;} 

a { color: #fd4114; }
a:hover, .ProductMain h1, #QuickViewProductDetails h1 { color: #fd4114; }
input[type=submit], .btn, input[type=reset], input[type=button], .EstimateShipping input[type="button"] { background: #787674; }
input[type=submit]:hover, .btn:hover, input[type=reset]:hover, input[type=button]:hover, .EstimateShipping input[type="button"]:hover { background: #fd4114; }
.btn.btn-secondary { background: #fd4114; }
.btn.btn-secondary:hover { background: #787674; } 
#FooterUpper .Column.first {margin-left:0;}
#FooterUpper .Column input.Button { background: #787674; }
#FooterUpper .Column input.Button:hover { background: #fd4114; }
#TopMenu { background: #969491; color:#fff; }
#TopMenu a { color: #fff; }
#TopMenu a:hover { color: #ccc; }
#TopMenu p { color:#fff; }
#TopMenu .FloatRight { background: #969491; }
#TopMenu .currency-converter { background: #969491; }
#TopMenu .selCurr { color: #ccc; }
#TopMenu .currency-converter #SideCurrencySelector { background: #fff; color: #000; }
#HeaderLower { background: #7C7C7C  url(../images/white/menubg.png) 0 0 repeat-x; }
#HeaderLower li a { border-left: 1px solid  #6a6a6a; padding:10px 22px 11px; }
#HeaderLower li.ActivePage a, #HeaderLower li.over a, #HeaderLower li a:hover { background-color: #fd4114; border-bottom:0px solid #696868; }
.Left .Block h2, .Content .Left .Block h2, .Left .CategoryList h2, .Left .CategoryList h1, .Left #SideNewProducts h2, #sidr-left-menu h2, #AboutAtlas h2 { background:url("../images/square-dark.png") 0 0 #787674 !important; color: #ffffff !important; margin: 0 !important;}
.treeview li a:hover, .treeview li a.selected, .treeview li li a.selected, .treeview li li li a.selected { color:#fd4114; background:none; }
#SideCartContents .BlockContent .total strong, #sidr-right-compare .BlockContent .total strong { color:#fd4114; }
#SideCartContents h2, #sidr-right-compare h2 { background:url("../images/square-dark.png") 0 0 #787674; }
#SideCartContents .ViewCartLink, #SideCartContents .CheckoutLink, #sidr-right-compare .CompareNowLink { background:#787674; }
#SideCartContents .CheckoutLink:hover, #sidr-right-compare .CompareNowLink:hover, #SideCartContents .ViewCartLink:hover { background:#fd4114; }
.ProductList li .ProductDetails em { color:#fd4114; }
.ProductList li .ProductActionAdd a:hover, .ProductList li .ProductActionAdd a.Choose:hover {background-color:#fd4114; border-color:#fd4114; }
.ProductList li .addtowishlist a:hover { background-color:#fd4114; }
#FooterUpper { background: #969491; }
.ProductList li .compare a:hover { background-color:#fd4114; }
.MobileView.CloseMenu a { background:#fd4114 url(../images/closearrow.png); }
.ProductMain h5.brandName a { color:#fd4114; }
.DetailRow.Rating .ReviewListLink { color:#fd4114; }
.product-detail-left .DetailRow, .product-detail-right .DetailRow, .DetailRow.addthislink {border-bottom:none;}
.product-detail-left .DetailRow, .product-detail-right .DetailRow {padding:0;}
.ProductPriceWrap .PriceRow em { color:#fd4114; }
.ProductTinyImageList li.selected { border:solid #fd4114 1px !important; }
#ProductReviews a.button { background:#fd4114; border:solid #fd4114 1px }
.ProductReviewForm h4 { color:#fd4114; }
.fastCartContent .fastCartTop .fastCartProd a { color:#fd4114; }
#ModalContent a, .ModalContent a { color:#fd4114 !important; }
table.Stylize th { background:#787674; }
.Right .Block h2 { background:url(../images/square-dark.png) 0 0 #787674; }
.PagingList li.ActivePage { background:#fd4114; }
.PagingList li a:hover { color:#fff; background:#fd4114; }
.TabNav li.Active a { color:#fd4114; }
input[type=submit], .btn, input[type=reset], input[type=button] { padding:5px 12px !important; }
#SearchForm button { padding:0 !important; }
.QuickSearchAllResults a { background:#787674; }
.QuickSearchAllResults a:hover { background:#fd4114; }
.productAddToCartRight .ProductDetailsGrid .DetailRow input[type=submit], .productAddToCartRight .ProductDetailsGrid .DetailRow input[type=button] { padding-left:30px !important; } 

input.AddCartButton {padding-left:30px !important;}

.product-detail-left .DetailRow .Label, .product-detail-right .DetailRow .Label {float:left;}

/* Content */
#testing {
width: 600px;
margin: 0 auto;
}
#testing h2 {
background: url(http://rfid.atlasrfidstore.com/hs-fs/hub/300870/file-465115418-png/images/Atlas-RFID-Store-header.png) repeat-y !important;
color: #ffffff !important;
text-align: center !important;
display: block !important;
padding: 20px 20px !important;
font-size: 45px !important;
}
#testing h3 {
clear: right;
padding: 0;
margin: 0;
}
#testing p {
font-size: 16px;
clear: right;
padding: 0 0 30px 0;
}
#testing img {
float: left;
margin: 0 10px 0 0;
clear: left;
}

.jump-res {
    background: none !important;
    display: block;
    height: 1px;
    position: relative;
    top: -150px;
    width: 1px;
}

.service-hero img{
    width: 96px !important;
    height: 96px !important;
    margin: auto 0 !important;
    padding: 2px !important;
  }
.service-hero h3 {
    margin: 0 !important;
  }
.service-hero .hero-cats {
    height: 100px !important;
    line-height: 40px !important;
    color: #000 !important;
    font-size: 22px !important;
    margin: 20px auto 5px !important;
  }
.service-hero span {
    font-size: 14px !important;
    font-weight: normal !important;
    color: #7c7c7c !important;
    position: relative !important;
    top: 5px !important;
  }

.rfidinsider img {
    width: 230px;
    height: 59px;
    margin: 0 auto;
}
.rfidinsider {
    text-align: center;
    display: block;
    margin: 10px auto;
    color: #000;
    border: 2px solid #e5e5e5;
    width: 236px;
}

@media screen and (min-width: 767px) and (max-width:1250px) {
#HeaderLower li a {padding: 15px 10px 11px !important;font-size: 13px;}
#HeaderLower li.ActivePage a, #HeaderLower li.over a, #HeaderLower li a:hover, #HeaderLower a:hover {padding: 10px !important;} 
#HeaderLower li a .sub-indicator {right: -2px !important;}
}

@media screen and (max-width:767px) {
.product-detail-left { width:100%; clear:both; }
.product-detail-right { width:100%; clear:both; }
#Outer { margin-top:178px; } 
}

@media screen and (min-width: 480px) and (max-width: 767px) {
#Logo #LogoImage { max-width:300px !important; }
#home-newsletter .hbspt-form {width: auto; height: auto;}   
}

@media screen and (min-width: 240px) and (max-width: 479px) {
#Logo #LogoImage { max-width:220px !important; margin-bottom:0px !important; height: auto; margin: 20px 0 0 0; }  
#Header .Inner > a { margin:17px 0 25px 10px; }
#home-newsletter .hbspt-form {width: auto; height: auto;}
}

